<h1 class="registration-header label-primary blocks-label"> Dodaj nowy produkt</h1>
<?php
// $form = $this->form;
$form->prepare();
// Assuming the "contact/process" route exists...
$form->setAttribute('action', $this->url('application/default', array('controller' => 'admin', 'action' => 'create-product'))); //'contact/process'));
// Set the method attribute for the form
$form->setAttribute('method', 'post');

echo $this->form()->openTag($form);
?>
<div id="div-login" class="row nomargin">
    <div class="col-sm-12 col-lg-12 col-xs-12 col-md-10 col-md-offset-1 nofloat">
        <form id="auth" name="auth" method="post" action="/application/admin/create-product">
            <div class="row">
                <div class="col-sm-2"><label for="username" class="text-info">Nazwa nowego produktu:</label></div>
                <div class="col-sm-5"><?php echo $this->formRow($form->get('product_name')); ?></div>
            </div>
             <div class="row">
                <div class="col-sm-2"><label for="username" class="text-info">Typ nowego produktu:</label></div>
                 <div class="col-sm-5"><?php echo $this->formRow($form->get('product_type')); ?></div>
            </div>
            <div class="row">
                <div class="col-sm-2"><label for="username" class="text-info">Energia:</label></div>
                <div class="col-sm-5"><?php echo $this->formRow($form->get('product_energy_100g')); ?></div>
                <div class="col-sm-5"><?php echo $this->formRow($form->get('product_energy_1_piece')); ?></div>

            </div>
            <div class="row">
                <div class="col-sm-2"><label for="username" class="text-info">Białko:</label></div>
                <div class="col-sm-5"><?php echo $this->formRow($form->get('protein_in_100g')); ?></div>
                <div class="col-sm-5"><?php echo $this->formRow($form->get('protein_in_1_piece')); ?></div>

            </div>
            <div class="row">
                <div class="col-sm-2"><label for="username" class="text-info">Tłuszcze:</label></div>
                <div class="col-sm-5"><?php echo $this->formRow($form->get('fat_in_100g')); ?></div>
                <div class="col-sm-5"><?php echo $this->formRow($form->get('fat_in_1_piece')); ?></div>

            </div>
            <div class="row">
                <div class="col-sm-2"><label for="username" class="text-info">Kwasy tłuszczowe nasycone:</label></div>
                <div class="col-sm-5"><?php echo $this->formRow($form->get('saturated_fatty_acids_in_100g')); ?></div>
                <div class="col-sm-5"><?php echo $this->formRow($form->get('saturated_fatty_acids_in_1_piece')); ?></div>

            </div>
            <div class="row">
                <div class="col-sm-2"><label for="username" class="text-info">Węglowodany:</label></div>
                <div class="col-sm-5"><?php echo $this->formRow($form->get('carbohydrates_in_100g')); ?></div>
                <div class="col-sm-5"><?php echo $this->formRow($form->get('carbohydrates_in_1_piece')); ?></div>

            </div>
            <div class="row">
                <div class="col-sm-2"><label for="username" class="text-info">Błonnik:</label></div>
                <div class="col-sm-5"><?php echo $this->formRow($form->get('cellulose_in_100g')); ?></div>
                <div class="col-sm-5"><?php echo $this->formRow($form->get('cellulose_in_1_piece')); ?></div>

            </div>
            <div class="row">
                <div class="col-sm-2"><label for="username" class="text-info">Sól:</label></div>
                <div class="col-sm-5"><?php echo $this->formRow($form->get('salt_in_100g')); ?></div>
                <div class="col-sm-5"><?php echo $this->formRow($form->get('salt_in_1_piece')); ?></div>
            </div>
            <div class="row">
                <div class="col-sm-2"><label for="username" class="text-info" >Wybierz zdjęcia:</label></div>
                <div class="col-sm-10" id="image_room"></div>
                <?php echo $this->formRow($form->get('unique_id')); ?>
                <div class="col-sm-offset-2 col-sm-10 margin-top-20 margin-bottom-20"><input type="file" name="multiple_files" id="multiple_files" multiple>
                <span class="text-muted">Dozwolone są tylko pliki z rozszerzeniem .gif, .jpg oraz .png</span>
                <span id="error_multiple_files"></span>
                </div>
                 
            </div>
            <div class="row">
                <div class="col-sm-2"><label for="username" class="text-info">Opis:</label></div>
                <div class="col-sm-10"><?php echo $this->formRow($form->get('description')); ?></div>
            </div>
            <?php
        if (!empty($this->escapeHtml($this->messages)))
        {
            echo '<div class="panel btn-block btn-danger">' . $this->escapeHtml($this->messages) . '</div>';
        }
        ?>
            <div class="form-group margin-top-10">
                <?php echo $this->formSubmit($form->get('submitproduct')); ?>
            </div>
            <?php echo $this->form()->closeTag();?>
        </form>
    </div>

    <div id="imagemodal" name="imagemodal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" id="edit_image_form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edytuj zdjęcie</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Nazwa zdjęcia</label>
                            <input type="text" name="image_name" id="image_name" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Opis zdjęcia</label>
                            <input type="text" name="image_description" id="image_description" class="form-control" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="image_id" id="image_id" />
                        <input type="submit" name="submit" class="btn btn-info" value="Edytuj">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<? echo $this->form()->closeTag(); ?>
<script >
    $(document).ready(function(){
        $(document).on('click', '.edit', function(){
        var image_id = $(this).attr('id');
        console.log(image_id, "1");
        $.ajax({
            url: "edit-image",
            method: "POST",
            data: {image_id: image_id},
            dataType: "json",
            success: function(data){
                $('#imagemodal').modal(onpageshow);
                $('#image_id').val(image_id);
                $('#image_name').val(data.image_name);
                $('#image_description').val(data.image_description);
            }
        })
        });

        validateSignup();
        load_image_data();
        function load_image_data()
        {
            $.ajax({
            method: "POST",
            url: "fetch-images",
            success: function(data)
            {
                $('#image_room').html(data);
            }
            })
        };
        
        $('#multiple_files').change(function()
        {
            var error_images = '';
            var form_data = new FormData();
            var files = document.getElementById("multiple_files").files;

            if (files.length > 5){
                error_images += 'Nie możesz wgrać więcej niż 5 zdjęć.'
            }
            else
            {
                for(var i=0; i<files.length; i++)
                {
                    var name = document.getElementById("multiple_files").files[i].name;

                    console.log(name);
                    var ext = name.split('.').pop().toLowerCase();
                    if (jQuery.inArray(ext, ['gif', 'jpg', 'png', 'jpeg']) ==-1)
                    {
                        error_images += '<p>Niewłaściwy format '+i+' pliku</p>';
                    }
                    form_data.append('file[]', document.getElementById('multiple_files').files[i]);
                }
            }
            
            if(error_images =='')
            {
                 $.ajax({
                    url: 'upload-images',
                    method: 'POST',
                    data: form_data,
                    contentType: false,
                    cache: false,
                    processData: false,
                    beforeSend: function(){
                        $('#error_multiple_files').html('</br><label class="text-primary">Wgrywanie...</label>')
                    },
                    success: function(){
                        $('#error_multiple_files').html('</br><label class="text-success">Załadowano zdjęcia.</label>');
                        load_image_data();
                    }
                    
                 })
            }
            else
            {
                $('#multiple_files').val('');
                $('#error_multiple_files').html("<span class='text-danger'>"+error_images+"</span>");
                return false; 
            }
            
        });
        
        function validateSignup()
        {

            $.validator.addMethod(
                "regex",
                function (value, element, regexp) {
                    if (regexp.constructor != RegExp)
                        regexp = new RegExp(regexp);
                    else if (regexp.global)
                        regexp.lastIndex = 0;
                    return this.optional(element) || regexp.test(value);
                },
                "Please check your input."
            );

            $('#products').validate(
                {
                    highlight: function (element, errorClass, validClass) {
                        return false;  // ensure this function stops
                    },
                    unhighlight: function (element, errorClass, validClass) {
                        return false;  // ensure this function stops
                    },
                    onkeyup: false,
                    ignore: ".ignore",
                    validClass: "signup_valid_class",
                    errorClass: "signup_error_class",
                    rules:
                        {

                            product_name:
                                {
                                    required: true,
                                    regex: /^[A-Za-z0-9\s]*$/,
                                },


                            product_type:
                                {
                                    required: true,
                                },

                            product_energy_100g:
                                {
                                    required: true,
                                    regex: /^[0-9.]*$/,
                                },

                            product_energy_1_piece:
                                {
                                    required: true,
                                    regex: /^[0-9.]*$/,
                                },

                            protein_in_100g:
                                {
                                    required: true,
                                    regex: /^[0-9.]*$/,
                                },

                            protein_in_1_piece:
                                {
                                    required: true,
                                    regex: /^[0-9.]*$/,
                                },

                            fat_in_100g:
                                {
                                    required: true,
                                    regex: /^[0-9.]*$/,
                                },

                            fat_in_1_piece:
                                {
                                    required: true,
                                    regex: /^[0-9.]*$/,
                                },

                            saturated_fatty_acids_in_100g:
                                {
                                    required: true,
                                    regex: /^[0-9.]*$/,
                                },

                            saturated_fatty_acids_in_1_piece:
                                {
                                    required: true,
                                    regex: /^[0-9.]*$/,
                                },

                            carbohydrates_in_100g:
                                {
                                    required: true,
                                    regex: /^[0-9.]*$/,
                                },

                            carbohydrates_in_1_piece:
                                {
                                    required: true,
                                    regex: /^[0-9.]*$/,
                                },

                            cellulose_in_100g:
                                {
                                    required: true,
                                    regex: /^[0-9.]*$/,
                                },

                            cellulose_in_1_piece:
                                {
                                    required: true,
                                    regex: /^[0-9.]*$/,
                                },

                            salt_in_100g:
                                {
                                    required: true,
                                    regex: /^[0-9.]*$/,
                                },

                            salt_in_1_piece:
                                {
                                    required: true,
                                    regex: /^[0-9.]*$/,
                                },

                            description:
                                {
                                    required: true,
                                    regex: /^[A-Za-z0-9.()]*$/,
                                }

                        },
                    messages:
                        {
                            product_name:
                                {
                                    required: 'To pole jest wymagane',
                                    regex: 'W tym polu występują błędne znaki',
                                },


                            product_type:
                                {
                                    required: 'To pole jest wymagane',
                                },

                            product_energy_100g:
                                {
                                    required: 'To pole jest wymagane',
                                    regex: 'Proszę wpisać tylko wagę bez jednostek(kcal) np. 400',
                                },

                            product_energy_1_piece:
                                {
                                    required: 'To pole jest wymagane',
                                    regex: 'Proszę wpisać tylko wagę bez jednostek(kcal) np. 600',
                                },

                            protein_in_100g:
                                {
                                    required: 'To pole jest wymagane',
                                    regex: 'Proszę wpisać tylko wagę bez jednostek(g) np. 0.1',
                                },

                            protein_in_1_piece:
                                {
                                    required: 'To pole jest wymagane',
                                    regex: 'Proszę wpisać tylko wagę bez jednostek(g) np. 0.1',
                                },

                            fat_in_100g:
                                {
                                    required: 'To pole jest wymagane',
                                    regex: 'Proszę wpisać tylko wagę bez jednostek(g) np. 0.1',
                                },

                            fat_in_1_piece:
                                {
                                    required: 'To pole jest wymagane',
                                    regex: 'Proszę wpisać tylko wagę bez jednostek(g) np. 0.1',
                                },

                            saturated_fatty_acids_in_100g:
                                {
                                    required: 'To pole jest wymagane',
                                    regex: 'Proszę wpisać tylko wagę bez jednostek(g) np. 0.1',
                                },

                            saturated_fatty_acids_in_1_piece:
                                {
                                    required: 'To pole jest wymagane',
                                    regex: 'Proszę wpisać tylko wagę bez jednostek(g) np. 0.1',
                                },

                            carbohydrates_in_100g:
                                {
                                    required: 'To pole jest wymagane',
                                    regex: 'Proszę wpisać tylko wagę bez jednostek(g) np. 0.1',
                                },

                            carbohydrates_in_1_piece:
                                {
                                    required: 'To pole jest wymagane',
                                    regex: 'Proszę wpisać tylko wagę bez jednostek(g) np. 0.1',
                                },

                            cellulose_in_100g:
                                {
                                    required: 'To pole jest wymagane',
                                    regex: 'Proszę wpisać tylko wagę bez jednostek(g) np. 0.1',
                                },

                            cellulose_in_1_piece:
                                {
                                    required: 'To pole jest wymagane',
                                    regex: 'Proszę wpisać tylko wagę bez jednostek(g) np. 0.1',
                                },

                            salt_in_100g:
                                {
                                    required: 'To pole jest wymagane',
                                    regex: 'Proszę wpisać tylko wagę bez jednostek(g) np. 0.1',
                                },

                            salt_in_1_piece:
                                {
                                    required: 'To pole jest wymagane',
                                    regex: 'Proszę wpisać tylko wagę bez jednostek(g) np. 0.1',
                                },

                            photos:
                                {
                                    required: 'Zdjęcie jest wymagane',
                                },

                            description:
                                {
                                    required: 'To pole jest wymagane',
                                    regex: 'Proszę wpisać opis dodawanego produktu.',
                                }

                        },

                    submitHandler: function (form) {
                        return true;
                    },
/*                    errorPlacement: function (error, element) {
                            if (element.attr("name") == "regulations_checkbox") {
                                error.insertAfter("#registration_clause");
                            } else {
                                error.insertAfter(element);
                            }
                    }*/
                });
        };
    });

</script>