<h1 class="registration-header label-primary myaccount-label"> Moje konto</h1>

<h1 class="registration-header label-primary blocks-label" data-toggle="dropdown" id="dropdownmenu2" name="dropdownmenu2"> Dodaj</h1>
<div class="row nomargin dropdown-header" id="dropdownmenu2-a" name="dropdownmenu2-a" style="display: none">
<a href="<?php echo $this->url('application/default', array('controller' => 'admin', 'action' => 'create-product')); ?>"><h1 class="btn btn-warning col-xs-12 col-sm-3 col-sm-offset-2 padding-v-10">Dodaj produkt</h1></a>
<a href="<?php echo $this->url('application/default', array('controller' => 'admin', 'action' => 'create')); ?>"><h1 class="btn btn-warning col-xs-12 col-sm-3 padding-v-10">Dodaj potrawę</h1></a>
<a href="<?php echo $this->url('application/default', array('controller' => 'admin', 'action' => 'create')); ?>"><h1 class="btn btn-warning col-xs-12 col-sm-3 padding-v-10">Dodaj przyprawę</h1></a>
</div>

<h1 class="registration-header label-primary blocks-label" id="dropdownmenu3" name="dropdownmenu3"> Moje</h1>
<div class="row nomargin dropdown-header" id="dropdownmenu3-a" name="dropdownmenu3-a" style="display: none">
<a href="<?php echo $this->url('application/default', array('controller' => 'admin', 'action' => 'create')); ?>"><h1 class="btn btn-info col-xs-12 col-sm-3 col-sm-offset-2 padding-v-10">Moje produkty</h1></a>
<a href="<?php echo $this->url('application/default', array('controller' => 'admin', 'action' => 'create')); ?>"><h1 class="btn btn-info col-xs-12 col-sm-3 padding-v-10">Moje potrawy</h1></a>
<a href="<?php echo $this->url('application/default', array('controller' => 'admin', 'action' => 'create')); ?>"><h1 class="btn btn-info col-xs-12 col-sm-3 padding-v-10">Moje przyprawy</h1></a>
</div>

<!--<div class="row nomargin">
    <a href="<?php /*echo $this->url('application/default', array('controller' => 'admin', 'action' => 'create')); */?>"><h1 class="btn btn-info col-xs-12 col-sm-3 col-sm-offset-5 padding-v-10">Wszystkie produkty i potrawy</h1></a>
</div>-->
<table>
<tr>
	<th>usr_id</th>
	<th>usr_name</th>
	<th>usr_email</th>
</tr>
<?php
	foreach ($rowset as $row) {
?>
		<tr>
			<td><?php  echo $row['product_name']; ?></td>
			<td><?php  echo $row['product_type']; ?></td>
			<td><?php  echo $row['product_replacement']; ?></td>
			<td><a href="<?php echo $this->url('application/default', array('controller' => 'admin', 'action' => 'update', 'id' => $row['usr_id'])); ?>">Edit</a></td>
			<td><a href="<?php echo $this->url('application/default', array('controller' => 'admin', 'action' => 'delete', 'id' => $row['usr_id']));?>" onclick="return confirm('Do you rely want to delete the record;')">Delete</a></td>
		</tr>
<?php
	}
?>
</table>
<script type="text/javascript">
$(document).ready(function(){
    $('#dropdownmenu2').bind('click', function(){
        console.log('ciao');
        $('#dropdownmenu2-a').toggle('slow');
    });

    $('#dropdownmenu3').bind('click', function(){
        console.log('ciao');
        $('#dropdownmenu3-a').toggle('slow');
    })
})
</script>