<h1>Create</h1><br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined variable: form in C:\Projekty\cozjesc\module\Application\view\application\admin\create.phtml on line <i>4</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.0034</td><td bgcolor='#eeeeec' align='right'>132264</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\Projekty\cozjesc\module\Application\view\application\admin\create.phtml' bgcolor='#eeeeec'>..\create.phtml<b>:</b>0</td></tr>
</table></font>
<br />
<font size='1'><table class='xdebug-error xe-fatal-error' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Fatal error: Call to a member function prepare() on a non-object in C:\Projekty\cozjesc\module\Application\view\application\admin\create.phtml on line <i>4</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.0034</td><td bgcolor='#eeeeec' align='right'>132264</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\Projekty\cozjesc\module\Application\view\application\admin\create.phtml' bgcolor='#eeeeec'>..\create.phtml<b>:</b>0</td></tr>
</table></font>
PHP Notice:  Undefined variable: form in C:\Projekty\cozjesc\module\Application\view\application\admin\create.phtml on line 4
PHP Stack trace:
PHP   1. {main}() C:\Projekty\cozjesc\module\Application\view\application\admin\create.phtml:0
PHP Fatal error:  Call to a member function prepare() on a non-object in C:\Projekty\cozjesc\module\Application\view\application\admin\create.phtml on line 4
PHP Stack trace:
PHP   1. {main}() C:\Projekty\cozjesc\module\Application\view\application\admin\create.phtml:0
